<!DOCTYPE html>
<html>
<head>
  <title>HackchangeDemo</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "rails", "prototype" %>
</head>
<body>

<%= yield %>

</body>
</html>
